
<section>
    <article>
        <h2>Homepage Section Header</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, veritatis adipisci. Nulla odio facilis provident eos ab beatae, expedita unde veniam excepturi quasi possimus eius porro a corporis dignissimos? In!
        </p>
    </article>
</section>